.root {
    -fx-background-color: white;
    -fx-font-family: "Libre Bodoni";
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #364046;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2196F3;
}

.text-field, .text-area, .combo-box {
    -fx-padding: 5;
    -fx-background-radius: 4;
}

.label {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.menu-bar {
    -fx-background-color: #E8E8E8;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .filler {
    -fx-background-color: #E8E8E8;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}